# Project exclude paths
/.gradle/
/app/build/
/PersianMaterialDateTimePicker/build/
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
/captures
.externalNativeBuild
/*.png